.App {
  /* text-align: center; */
}

.card {
  width: 200px;
  float: left;
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
}
.card img{
  width: 200px;
  height: 135px;
  background-size: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.info {
  padding: 10px;
  font-size: 12px;
}